<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Free Python-Based YouTube Video Downloader">
    <meta property="og:description"
        content="Download YouTube videos with ease using our free Python-based YouTube video downloader.">
    <meta property="og:image"
        content="https://img.freepik.com/free-photo/social-media-still-life-with-logo_23-2149019239.jpg?w=1060&t=st=1705935261~exp=1705935861~hmac=aebf964fa4d3673a0252de0e146a8df200bf7369c5bcedf6c0399eed7ba5ec2a">


    <meta name="description"
        content="Download YouTube videos with ease using our free Python-based YouTube video downloader. Our program is easy to use and allows you to download videos in a variety of formats and resolutions.">

    <link rel="icon" type="image/x-icon" href="/static/css/youtube.png">
    <title>Youtube Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <main role="main">
        <nav>
            <h1>Youtube Video Downloader</h1>
        </nav>
        {%block content%}{%endblock%}
    </main>

</body>

<footer>
    <div>

        <span>for work related query contact me at <span>
                <p><a href="mailto:sainyy11@gmail.com">sainyy11@gmail.com</a></p>
                <center>
                    <span>&copy;sainy98</span>
                </center>

    </div>
</footer>

</html>