<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/css/youtube.png">
    <title>Youtube Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <main role="main">
        <nav>
            <h1>Youtube Video Downloader</h1>
        </nav>
        {%block content%}{%endblock%}
    </main>

</body>

<footer>
    <div>

        <span>for work related query contact me at <span>
                <p><a href="mailto:sainyy11@gmail.com">sainyy11@gmail.com</a></p>
                <center>
                    <span>&copy;sainy98</span>
                </center>

    </div>
</footer>

</html>