body {
    background-color: black;
    font-family: sans-serif;
    color: yellow;
    border: 2px solid;
    text-align: -webkit-center;
}

main {
    height: 115vh;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Apply the animation to the title */
h1 {
    overflow: hidden;
    /* Hide overflow text */
    border-right: .15em solid orange;
    /* Add a blinking cursor */
    white-space: nowrap;
    /* Make text appear in one line */
    animation: typewriter 4s steps(30) infinite;
    /* Adjust animation duration and steps */
}


h1 {
    font-size: 205%;
    background: #a30451;
    text-align: center;
    font-family: monospace;
    color: seashell;
}

span {
    color: red;
}

h3 {
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8%;
    font-family: system-ui;
}

.itag {
    background-color: snow;
    font-size: 28px;
    margin-top: 5%;
    border: 5px solid #1ad21a;
    border-radius: 8px;
    cursor: pointer;
}

button {
    background-color: #1ad21a;
    font-size: 24px;
    height: 43px;
    cursor: pointer;
    border-radius: 10px;

}

.url {
    font-size: 20px;
    border-radius: 13px;
    padding: 18px;
    cursor: pointer;
}

.submit {
    width: 24%;
    height: 63px;
    border-radius: 13px;
    font-size: 20px;
    background-color: #1ad21a;
    cursor: pointer;
    margin-top: 11px;
}

footer {
    background-color: transparent;
    margin-top: 14em;
}

footer div {
    width: 80%;
    height: auto;
}

footer div>img {
    width: inherit;
    height: inherit;
}

@media only screen and (max-width: 600px) {

    footer {
        background-color: transparent;
        margin-top: -7em;
    }

}

div {
    font-size: 14px;
    color: white;
    font-family: system-ui;
}

.uses {
    text-align: left;
    display: inline-table;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 4em;
}

@media only screen and (max-width: 600px) {
    .uses {
        text-align: left;
        display: inline-table;
        font-family: sans-serif;
        font-size: 15px;
        margin-left: 2em;

    }


}

form {
    padding: 1em 0;
}

#im {
    width: 90%;
    border: 2px solid;
    border-radius: 17px;
}


button:hover {
    font-size: 28px;
}

nav {
    display: flex;
    background-color: #a30451;
    ;
    flex-direction: column-reverse;
}

#walk {
    display: none;
    margin: 2em 0;

}

@media only screen and (min-width: 600px) {
    body {
        background-color: rgb(0, 0, 0);

    }

    .url {
        font-size: 20px;
        border-radius: 13px;
        padding: 18px;
        cursor: pointer;
        width: 50%;
    }

    .submit {

        height: 63px;
        border-radius: 13px;
        font-size: 20px;
        background-color: #1ad21a;
        cursor: pointer;
        margin-top: 11px;
    }

}